name: ERT Tests

on:
  push:
    paths: ['lisp/**', 'test/**']
  pull_request:
    paths: ['lisp/**', 'test/**']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ERT Test Suite
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - uses: purcell/setup-emacs@master
        with:
          version: 30.1

      - name: Run ERT tests
        run: |
          emacs --batch \
            -L lisp/core -L lisp/vr -L lisp/ext \
            -l ert \
            $(find test -name '*-test.el' -printf '-l %p ') \
            -f ert-run-tests-batch-and-exit
